.o_colorlist_limit {
    button {
        border: 1px solid $dropdown-bg;
        box-shadow: 0 0 0 1px $gray-500;
        width: 35px;
        height: 35px;
    }
}
.border-top {
    border-top: 1px solid #d3d3d3;
    padding-top: 10px;
}
.total-mt-2{
    margin-top: 25px;
}